<div class="bg-img-div">
    <div class="container py-5">
        <div class="row">
            <div class="text-center my-5">
                <h2>Kontak Kami</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error blanditiis nulla corrupti hic provident dignissimos modi! Ipsum minima cum, excepturi dolorem quidem iure? Tenetur, repellendus cupiditate? Consequuntur sit quam ad!</p>
            </div>
            <div class="col-7 px-5">
            <form action="" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="text">Teks</label>
                    <input type="text" class="form-control" id="text" aria-describedby="emailHelp" placeholder="Teks">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="row">
        <div class="col-7 px-5">
            <h2>Jangan ragu untuk kontak kami jika anda membutuhkan bantuan</h2>
            <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, harum. Quis sed, architecto pariatur praesentium officia aliquid nam, corrupti a aperiam ipsum vitae ipsa dicta quae debitis, vel ducimus placeat?</p>
        </div>
    </div>

</div>